
@{
    ViewBag.Title = "Phụ tùng ô tô";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="phutung">
    <!--Trang chính-->
    <article class="col-xs-12 col-sm-12 col-md-9 col-lg-9 pull-right">

        <!--Banner-->
        <div class="banner">
            <img src="~/Content/images/phutung/banner.png" alt="" class="img-responsive" />
        </div>

        <!--Các sản phẩm-->
        <div class="cacsanpham">

            <!--Sản phẩm-->
            <div class="sanpham sp-1">
                <img src="~/Content/images/phutung/phutung-1.png" alt="" class="img-responsive" />

                <!--Thông tin-->
                <div class="thongtin">
                    <p class="ten">Gáo gương có đèn xi nhan Led</p>
                    <p class="text">Gáo gương có đèn xi nhan LED,phụ tùng ô tô Hàn Quốc</p>
                    <p class="gia">Giá: 1.500.000 vnđ</p>
                    <a href="@Url.Action("Chitietphutung","Home")" class="xemthem">Xem thêm <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>

            <!--Sản phẩm-->
            <div class="sanpham sp-2">
                <img src="~/Content/images/phutung/phutung-1.png" alt="" class="img-responsive" />

                <!--Thông tin-->
                <div class="thongtin">
                    <p class="ten">Gáo gương có đèn xi nhan Led</p>
                    <p class="text">Gáo gương có đèn xi nhan LED,phụ tùng ô tô Hàn Quốc</p>
                    <p class="gia">Giá: 1.500.000 vnđ</p>
                    <a href="@Url.Action("Chitietphutung","Home")" class="xemthem">Xem thêm <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>

            <!--Sản phẩm-->
            <div class="sanpham sp-1">
                <img src="~/Content/images/phutung/phutung-1.png" alt="" class="img-responsive" />

                <!--Thông tin-->
                <div class="thongtin">
                    <p class="ten">Gáo gương có đèn xi nhan Led</p>
                    <p class="text">Gáo gương có đèn xi nhan LED,phụ tùng ô tô Hàn Quốc</p>
                    <p class="gia">Giá: 1.500.000 vnđ</p>
                    <a href="@Url.Action("Chitietphutung","Home")" class="xemthem">Xem thêm <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>

            <!--Sản phẩm-->
            <div class="sanpham sp-2">
                <img src="~/Content/images/phutung/phutung-1.png" alt="" class="img-responsive" />

                <!--Thông tin-->
                <div class="thongtin">
                    <p class="ten">Gáo gương có đèn xi nhan Led</p>
                    <p class="text">Gáo gương có đèn xi nhan LED,phụ tùng ô tô Hàn Quốc</p>
                    <p class="gia">Giá: 1.500.000 vnđ</p>
                    <a href="@Url.Action("Chitietphutung","Home")" class="xemthem">Xem thêm <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>

            <!--Sản phẩm-->
            <div class="sanpham sp-1">
                <img src="~/Content/images/phutung/phutung-1.png" alt="" class="img-responsive" />

                <!--Thông tin-->
                <div class="thongtin">
                    <p class="ten">Gáo gương có đèn xi nhan Led</p>
                    <p class="text">Gáo gương có đèn xi nhan LED,phụ tùng ô tô Hàn Quốc</p>
                    <p class="gia">Giá: 1.500.000 vnđ</p>
                    <a href="@Url.Action("Chitietphutung","Home")" class="xemthem">Xem thêm <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>

            <!--Sản phẩm-->
            <div class="sanpham sp-2">
                <img src="~/Content/images/phutung/phutung-1.png" alt="" class="img-responsive" />

                <!--Thông tin-->
                <div class="thongtin">
                    <p class="ten">Gáo gương có đèn xi nhan Led</p>
                    <p class="text">Gáo gương có đèn xi nhan LED,phụ tùng ô tô Hàn Quốc</p>
                    <p class="gia">Giá: 1.500.000 vnđ</p>
                    <a href="@Url.Action("Chitietphutung","Home")" class="xemthem">Xem thêm <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>

        <!--Số trang-->
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </article>

    <!--Cột bên trái-->
    <aside class="sidebar col-xs-12 col-xs-12 col-md-3 col-lg-3 pull-left">

        <!--Dịch vụ-->
        <div class="cacdichvu">
            @{
                string[] url = Request.Url.ToString().Split('/');
            }
            <!--Tiêu đề-->
            <p class="tieude">Dịch vụ</p>

            @if (url[url.Count() - 1] != "Phutung")
            {
                <!--dịch vụ-->
                <a href="#" class="dichvu">
                    <img src="~/Content/images/trangchu/suachua.png" alt="" class="img-responsive" />

                    <!--Tên dịch vụ-->
                    <p>Phụ tùng</p>
                </a>
            }

            @if (url[url.Count() - 1] != "Suachua")
            {
                <!--dịch vụ-->
                <a href="#" class="dichvu">
                    <img src="~/Content/images/trangchu/suachua.png" alt="" class="img-responsive" />

                    <!--Tên dịch vụ-->
                    <p>Sửa chữa ô tô</p>
                </a>
            }

            @if (url[url.Count() - 1] != "Muabanxe")
            {
                <!--dịch vụ-->
                <a href="#" class="dichvu">
                    <img src="~/Content/images/trangchu/muaxe.png" alt="" class="img-responsive" />

                    <!--Tên dịch vụ-->
                    <p>Mua bán xe</p>
                </a>
            }
        </div>

        <!--Tin tức nổi bật-->
        <div class="tintuc">

            <!--Tiêu đề-->
            <p class="tieude">Tin tức nổi bật</p>

            <!--Các tin tức-->
            <ul class="cactintuc">
                <li><a href="#">Làm thế nào để kiểm tra lốp đã thực sự bơm đầy hay chưa?</a></li>
                <li><a href="#">Thay dầu cho xe bao nhiêu lâu thì hợp lý và tiết kiệm?</a></li>
                <li><a href="#">Bộ lọc cabin là gì và bao nhiêu lâu thì nên thay thế?</a></li>
            </ul>
        </div>
    </aside>
</section>