<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!--SEO-->
    <title>@ViewBag.Title</title>
    <meta name="description" content="@((ViewBag.Description!=null)?ViewBag.Description:"")" />
    <meta name="keywords" content='@((ViewBag.Keywords!=null)?ViewBag.Keywords:"")' />
    <meta name="revisit-after" content="1 days" />
    <meta name="robots" content='@((ViewBag.Robots!=null)?ViewBag.Robots:"index, noop, follow")' />
    <meta http-equiv="content-language" content="vi" />
    <link href="~/Content/Front/images/logo.png" rel="shortcut icon" type="image/x-icon" />
    <link rel="alternate" href="" hreflang="vi" />

    <meta itemprop="name" content='@((ViewBag.Title!=null)?ViewBag.Title : "")'>
    <meta itemprop="description" content='@((ViewBag.Description!=null)?ViewBag.Description:"")'>
    <meta itemprop="image" content='@((ViewBag.Image!=null)?ViewBag.Image:"")'>

    <meta property="og:title" content='@((ViewBag.Title!=null)?ViewBag.Title : "")' />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content='@((ViewBag.Image!=null)?ViewBag.Image:"")' />
    <meta property="og:description" content='@((ViewBag.Description!=null)?ViewBag.Description:"")' />
    <meta property="og:site_name" content="" />

    <meta name="geo.placename" content="" />
    <meta name="geo.region" content="VN-HP" />
    <meta name="geo.position" content="" />
    <meta name="ICBM" content="" />

    <link rel="image_src" href='@((ViewBag.Image!=null)?ViewBag.Image:"")' />

    <!--Site-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">

    <link href="~/Content/Front/css/mySite.min.css" rel="stylesheet" />
    <link href="~/Content/Front/css/_layout.min.css" rel="stylesheet" />
    <link href="~/Content/Front/css/menu-mobile.css" rel="stylesheet" />
    <link href="~/Content/Front/css/trangchu.min.css" rel="stylesheet" />
    <link href="~/Content/Front/css/gioithieu.min.css" rel="stylesheet" />
    <link href="~/Content/Front/css/suachua.min.css" rel="stylesheet" />
    <link href="~/Content/Front/css/muabanxe.min.css" rel="stylesheet" />
    <link href="~/Content/Front/css/chitietmuaxe.min.css" rel="stylesheet" />
    <link href="~/Content/Front/css/phutung.min.css" rel="stylesheet" />
    <link href="~/Content/Front/css/chitietphutung.min.css" rel="stylesheet" />
    <link href="~/Content/Front/css/tuvan.min.css" rel="stylesheet" />
    <link href="~/Content/Front/css/chitietbaiviet.min.css" rel="stylesheet" />
    <link href="~/Content/Front/css/lienhe.min.css" rel="stylesheet" />
    <link href="~/Content/Front/css/sidebar.min.css" rel="stylesheet" />
    <link href="~/Content/Front/css/slideBanner.css" rel="stylesheet" />

    <style>
        .fixed {
            position: fixed;
            top: 0;
            z-index: 2000;
        }
    </style>
</head>
<body ng-app="frontApp">
    <!--Menu-->
    <header class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <!--Desktop-->
        <div class="desktop hidden-xs hidden-sm col-md-12 col-lg-12">

            <!--Logo-->
            <a href="@Url.Action("Index","Home")" class="logo col-md-3 col-lg-3"><img src="~/Content/front/images/logo.png" class="img-responsive" /></a>

            <!--Menu-->
            <div class="menu col-md-9 col-lg-9">
                <ul>
                    <li class="pull-left"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li class="pull-left"><a href="/gioi-thieu">Giới thiệu</a></li>
                    <li class="pull-left"><a href="/sua-chua">Sửa chữa</a></li>
                    <li class="pull-left"><a href="/danh-muc-san-pham/mua-ban-xe-2">Mua bán xe</a></li>
                    <li class="pull-left"><a href="/danh-muc-san-pham/phu-tung-3">Phụ tùng</a></li>
                    <li class="pull-left"><a href="/danh-muc-bai-viet/goc-tu-van-2">Tư vấn</a></li>
                    <li class="pull-left"><a href="@Url.Action("Contact","Home")">Liên hệ</a></li>
                </ul>
            </div>
            <p class="diachi pull-right">
                <i class="fa fa-map-marker text-success"></i> Số 337 - Hùng Vương, Hồng Bàng, Hải Phòng | &nbsp;&nbsp;<i class="fa fa-phone text-danger"></i> <a href="tel:0313540555">0313 540 555</a>
            </p>
        </div>

        <!--Mobile-->
        <div class="mobile col-xs-12 col-sm-12 hidden-md hidden-lg">
            <nav id="dl-menu" class="dl-menuwrapper">
                <button class="dl-trigger">Open Menu</button>
                <div>
                    <a href="@Url.Action("Index","Home")" class="logo"><img src="~/Content/front/images/logo.png" /></a>
                    <a id="button-search" class="search"><i class="fa fa-search search-btn"></i></a>
                </div>
                <ul class="dl-menu">
                    <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li><a href="/gioi-thieu">Giới thiệu</a></li>
                    <li><a href="/sua-chua">Sửa chữa</a></li>
                    <li><a href="/danh-muc-san-pham/mua-ban-xe-2">Mua bán xe</a></li>
                    <li><a href="/danh-muc-san-pham/phu-tung-3">Phụ tùng</a></li>
                    <li><a href="/danh-muc-bai-viet/goc-tu-van-2">Tư vấn</a></li>
                    <li><a href="@Url.Action("Contact","Home")">Liên hệ</a></li>
                </ul>
                <input type="text" placeholder="Nhập tìm kiếm ..." value="" id="search-box" class="search-box" />
            </nav>
        </div>
    </header>

    <!--Nút Back to top-->
    <a id="back-to-top" href="#" class="btn btn-lg back-to-top" role="button" title="Nhấn để chuyển lên đầu trang" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>

    @RenderBody()

    <footer class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <!--Slide lo các hãng oto-->
        <marquee onmouseover="this.stop()" onmouseout="this.start()" loop="infiniti">
            <a href="#"><img src="~/Content/front/images/logo-xe-1.png" /></a>
            <a href="#"><img src="~/Content/front/images/logo-xe-2.png" /></a>
            <a href="#"><img src="~/Content/front/images/logo-xe-3.png" /></a>
            <a href="#"><img src="~/Content/front/images/logo-xe-4.png" /></a>
            <a href="#"><img src="~/Content/front/images/logo-xe-5.png" /></a>
        </marquee>

        <!--border-->
        <div class="border col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>

        <!--Footer-->
        <div class="footer col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!--Menu-->
            <ul class="menu col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <li class="pull-left"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li class="pull-left"><a href="/gioi-thieu">Giới thiệu</a></li>
                <li class="pull-left"><a href="/sua-chua">Sửa chữa</a></li>
                <li class="pull-left"><a href="/danh-muc-san-pham/mua-ban-xe-2">Mua bán xe</a></li>
                <li class="pull-left"><a href="/danh-muc-san-pham/phu-tung-3">Phụ tùng</a></li>
                <li class="pull-left"><a href="/danh-muc-bai-viet/goc-tu-van-2">Tư vấn</a></li>
                <li class="pull-left"><a href="@Url.Action("Contact","Home")">Liên hệ</a></li>
            </ul>

            <!--Thông tin-->
            <div class="thongtin col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!--Thông tin công ty-->
                <div class="info-co col-xs-12 col-sm-6 col-md-4 col-lg-4">

                    <!--Tiêu đề-->
                    <p class="tieude">Doanh nghiệp tư nhân minh hải</p>

                    <!--nội dung-->
                    <div class="noidung">
                        <p><i class="fa fa-map-marker"></i>Số 337 - Hùng Vương, Hồng Bàng, Hải Phòng</p>
                        <p><i class="fa fa-phone"></i>091 448 6666 - 098 555 3688 - 0313 540 888</p>
                        <p><i class="fa fa-fax"></i>0313 540 555</p>
                        <p><i class="fa fa-envelope"></i>0914486666.qn@gmail.com</p>
                    </div>
                </div>

                <!--Giới thiệu-->
                <div class="gioithieu col-xs-12 col-sm-6 col-md-4 col-lg-4">

                    <!--Tiêu đề-->
                    <p class="tieude">Giới thiệu về chúng tôi</p>

                    <!--Nội dung-->
                    <p class="noidung">
                        Doanh nghiệp tư nhân Minh Hải được thành lập vào ngày 17 / 9 / 2002.
                        Với hơn 14 năm trong nghề chúng tôi đã tạo dựng lên được một thương hiệu vững chắc đối với khách hàng đã và đang sử dụng dịch vụ của chúng tôi.
                        Chúng tôi sở hữu một garage rộng lớn cùng đội ngũ kỹ thuật chuyên môn cáo, chắc chắn sẽ làm hài lòng quý khách...
                        <a href="/gioi-thieu">Xem thêm</a>
                    </p>
                </div>

                <!--Map-->
                <div class="map col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <p class="tieude">Tìm chúng tôi trên bản đồ</p>
                    <div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3728.2263420435743!2d106.65901461493674!3d20.862925286088554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314a7a43a5d22e2d%3A0xb7848d2af9028a21!2zMzM3IEjDuW5nIFbGsMahbmcsIFRoxrDhu6NuZyBMw70sIEjhu5NuZyBCw6BuZywgSOG6o2kgUGjDsm5nLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1483694380460" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--jquery-->
    @*<script src="~/Scripts/jquery-3.1.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    @*<script src="~/Scripts/modernizr-2.8.3.js"></script>*@

    <script src="~/Scripts/front/trangchu.js"></script>



    <!--AngularJS-->
    @*<script src="~/Scripts/angular.min.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    @*<script src="~/Scripts/angular-sanitize.min.js"></script>*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.8/angular-sanitize.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>

    <!--Message-->
    <script src="~/Content/admin/js/libs/toastr/toastr.min.js"></script>
    <script>
        $(document).ready(function () {
            toastr.options = {
                "positionClass": "toast-bottom-left"
            };
        });
    </script>

    <!--AngularJS custom-->
    <script src="~/Scripts/Front/frontApp.js"></script>
    <script src="~/Scripts/Front/pagination/dirPagination.min.js"></script>

    <!--Loading-->
    <script src="~/Scripts/loading-spinner/spin.min.js"></script>
    <script src="~/Scripts/loading-spinner/angular-spinner.min.js"></script>
    <script src="~/Scripts/loading-spinner/angular-loading-spinner.js"></script>

    <!--Banner-->
    @*<script src="~/Scripts/Front/bannerController.min.js"></script>*@

    <!--Category Post-->
    <script src="~/Scripts/Front/categoryPostFactory.min.js"></script>
    <script src="~/Scripts/front/categoryPostController.min.js"></script>

    <!--Category Product-->
    <script src="~/Scripts/Front/categoryProductFactory.min.js"></script>
    <script src="~/Scripts/Front/categoryProductController.min.js"></script>

    <!--Post-->
    <script src="~/Scripts/Front/postController.min.js"></script>

    <!--Tin nổi bật-->
    <script src="~/Scripts/front/postHotController.min.js"></script>

    <!--Tin nổi bật cho trang chủ-->
    <script src="~/Scripts/front/postHotHomeController.min.js"></script>

    <!--Product-->
    <script src="~/Scripts/Front/productController.min.js"></script>

    <!--Sản phẩm mới-->
    <script src="~/Scripts/front/newProductController.min.js"></script>

    <!--Sản phẩm nổi bật cho trang chủ-->
    <script src="~/Scripts/front/productHomeController.min.js"></script>

    <!--Search-->
    <script src="~/Scripts/Front/searchController.min.js"></script>

    <!--Contact-->
    <script src="~/Scripts/Front/contactController.min.js"></script>

    <!--Order-->
    <script src="~/Scripts/Front/themOrderController.min.js"></script>

    <!--Image-->
    @*<script src="~/Scripts/front/imageController.min.js"></script>*@

    <!--Search-->
    <script src="~/Scripts/Front/searchController.min.js"></script>
    <script src="~/Scripts/Front/showSearchController.min.js"></script>
</body>
</html>